.featured-movies {
  position: relative;
  height: 90vh; /* Ajusta la altura según tus necesidades */

  .movie-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
    position: absolute; /* Cambiar a 'absolute' para superponerlo */
    transition: opacity 1s ease-out;
    opacity: 1;
    &.hidden {
      opacity: 0; /* Oculta la imagen cuando está en modo "hover" */
    }
  }
  .movie-trailer {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
    position: absolute; /* Para asegurarnos de que cubre la misma área */
    z-index: -1;
  }
  .movie-info {
    width: 35%;
    position: absolute;
    top: 35%;
    left: 10%;
    color: white;
  }
  .movie-navigation {
    position: absolute;
    bottom: 5%;
    left: 50%;
  }
}
